*
{
	padding:0;
	margin:0;
}
h2{
	padding: 20px;
	color:  #040e2c;
	text-align: center;
	font-size: 28px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}
.all
{
	padding:5px;
	padding-left: 48px;
	padding-right: 48px;
	font-size:16px;
	font-weight:300;
	line-height:24px;
	padding-bottom: 40px;
}
.all p
{
	font-size: 17px;
	color:  #040e2c;
	margin-top: 50px;
	margin-bottom:30px;
}


.det
{
	width:450px;
	position:relative;

	background-color:#fff;

	border-radius:8px;
	margin-bottom:10px;
}

.det img
{
	margin-top: 30px;
	width:100%;
	height: auto;
	border-radius:10px;
}


.det.right
{
	float:right;
	margin-left:20px;
}
.det.left
{
	float:left;
	margin-right:20px;
}

@media screen and (max-width:767px)
{
	.all
{
	padding-left: 24px;
	padding-right: 24px;
}

.all p
{
	font-size: 17px;
	color:  #040e2c;
	margin-top: 20px;
	margin-bottom:30px;
}
	.det.right
	{
		float:none;
		margin-left:0px;
	}
	.det.left
	{
		float:none;
		margin-right:0px;
	}
	.det{
		width:100%;
	}
}




